*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom right,#B1B2FF, 75% ,#C3F8FF);
    min-height: 100vh;
    font-family: sans-serif;
    padding: 40px;
}

#root{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
    flex-wrap: wrap;
}
